button{
  background: linear-gradient(90deg, rgb(5, 149, 216) 0%, rgb(28, 98, 179) 100%);
  color: white;
  padding: 8px 15px;
  position: relative;
  overflow: hidden;
  margin: 0 0 0 20px;
  border: 0;
}
button::before{
  position: absolute;
  opacity: .4;
  left: -227px;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgb(0, 40, 85);
  transform: skew(40deg);
  transition: all 0.8s ease 0s;
}
button:hover::before{
	left: 227px;
}
